<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561373641411-8002djnt6outq6a1vqeuittdran4vkkn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561373641411-8002djnt6outq6a1vqeuittdran4vkkn</string>
	<key>API_KEY</key>
	<string>AIzaSyDAcQWeSR4mO_qZRWvZ0TUjpOGSArq_cTw</string>
	<key>GCM_SENDER_ID</key>
	<string>561373641411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team.penguin.alpha-face</string>
	<key>PROJECT_ID</key>
	<string>alpha-face</string>
	<key>STORAGE_BUCKET</key>
	<string>alpha-face.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561373641411:ios:8cd467fa9b9a27fc2a0076</string>
	<key>DATABASE_URL</key>
	<string>https://alpha-face-default-rtdb.firebaseio.com</string>
</dict>
</plist>